.petition-score-rank-nodata{
	position: relative;
	text-align: center;
	height: 100%;
	&:before{
		content: "";
		display: inline-block;
		height: 100%;
		width: 0;
		vertical-align: middle;
	}
	.nodata-tip{
		display: inline-block;
	    color: #3c72ad;
	}
}
.petition-score-rank{
	overflow-y: hidden;
  	height: 100%;
	padding: 0.28rem;
	background-color: #092d5e;
	.top-three{
		overflow: hidden;
		margin-bottom: 0.2rem;
  	white-space: nowrap;
		.top-three-block{
		display: inline-block;
	    text-align: center;
	    background-color: #143F78;
	    margin-right: .2rem;
	    padding: .2rem;
	    width: calc( 33.33% - .1rem );
			&>div{
				display: inline-block;
				vertical-align: middle;
				margin-right: 0.2rem;
				p{
					line-height: 1.7em;
					margin: 0;
				}
				.rank{
					font-size: 0.6rem;
				}
				.num{
					color: #EFEFEF;
				}
			}
			.top-three-right{
				text-align: left;
			}
		}
		.block0{
			color: #F15620;
		}
		.block1{
			color: #FD962E;
		}
		.block2{
			color: #E5D467;
		}
	}
	.table-wrap{
		width: 100%;
		line-height: 2em;
		color: #F7F9FA;
		.county {
			@include ellipsis;
		}
		.bar{
			width: 3.6rem;
			text-align: left;
			span{
				display: inline-block;
				vertical-align: middle;
				height: 0.15rem;
				background-color: #2EA6FE;
			}
		}
		td:first-child{
			text-align: left;
		}
		td:nth-child(2){
			padding-right: 0.05rem;
		}
		td:last-child{
			text-align: right;
			color: #B7BECB;
		}
	}
}
