{
    "parser": "babel-eslint",
    "parserOptions": {
      "ecmaVersion": 2017,
      "sourceType": "module",
      "ecmafeatures": {
        "impliedStrict": true,
        "jsx": true
      }
    },
    "env": {
      "browser": true,
      "node": true,
      "mocha": true,
      "jquery": true
    },
    "plugins": [
      "react"
    ],
    "rules": {
      "indent": [
        "off",
        2
      ],
      "quotes": [
        "off",
        "double"
      ],
      "no-console": "off",
      "no-tabs": "off",
      "no-undef": "off",
      "no-constant-condition": "off",
      "no-unused-vars": "off",
      "padded-blocks": "off",
      "require-jsdoc": "off",
      "no-magic-numbers": "off",
      "no-mixed-spaces-and-tabs": "off",
      "react/no-deprecated": "off",
      "react/jsx-key": "off",
      "react/prop-types": "off",
      "react/no-find-dom-node": "off",
      "react/jsx-no-target-blank": "off",
      "react/jsx-no-bind": [
          "off",
          {
              "allowArrowFunctions": true,
              "allowBind": true
          }
      ]
    },
    "extends": [
      "eslint:recommended",
      "plugin:react/recommended"
    ]
  }