.container-fullpage {
  position: relative;
  width: 100%;
  height: 100%;
  background: url('../../image/login/full-background.jpg') no-repeat center;
  background-size: cover;
}

.login-logo {
  position: absolute;
  z-index: 10;
  left: 3.05rem;
  top: 2.5rem;
  width: 6.2rem;
  height: 3.3rem;
  background: url('../../image/login/logo_new@1x.png') no-repeat center;
  background-size: 100%;
}

.login-form {
  position: absolute;
  z-index: 10;
  right: 1.8rem;
  top: 1.7rem;
}

.form-container {
  background: #113367;
}

.form-container .form-box {
  padding: 0.3rem 0.55rem 0.6rem;
}

.form-container .form .field-container {
  position: relative;
  display: block;
  margin: 0.3rem 0;
}

.form-container .form .field-container .field-label{
  position: absolute;
  left: 0.2rem;
  top: 0;
  z-index: 11;
  display: inline-block;
  width: 4em;
  height: 100%;
  font-size: .2rem;
  color: #9b9b9b;
  line-height: 0.6rem;
}

.form-container .form .field-container .field-input{
  display: inline-block;
  box-sizing: border-box;
  -webkit-appearance: none;
  width: 5rem;
  height: 0.6rem;
  font-size: 0.18rem;
  border-radius: 0.1rem;
  padding: .15rem .1rem .15rem 1.2rem;
  border: 2px solid #fff;
  background: #1e466e;
}

.form-container .form .field-container .field-input:focus{
  border: 2px solid #6ff3e9;
}

.form-container .form .field-checkbox input[type=checkbox] {
  margin: 0 .1rem 0 0;
  width: .3rem;
  height: .3rem;
  border: 2px solid #6ff3e9
}

.form-container .form .form-submit-block{
  margin-top: .5rem;
}

.form-container .form .form-checkbox-block:after{
  content: '';
  display: table;
  clear: both;
  width: 0;
  height: 0;
}
.form-container .form .form-checkbox-block .left-checkbox {
  float: left;
}

.form-container .form .form-checkbox-block .right-link {
  float: right;
}

.form-container .form .form-checkbox-block .right-link a{
  font-size: .18rem;
  color: #00f6e9;
}
 
.form-container .form .form-checkbox-block .field-checkbox input[type=checkbox] {
  display: none;
}

.form-container .form .form-checkbox-block .field-checkbox .checkbox {
  position: relative;
  display: inline-block;
  width: .26rem;
  height: .26rem;
  box-sizing: border-box;
  border: 2px solid #6ff3e9;
  margin-right: .1rem;
  border-radius: 2px;
}

.form-container .form .form-checkbox-block .field-checkbox input[type=checkbox]:checked + .checkbox:after {
  position: absolute;
  top: .04rem;
  left: .03rem;
  content: '';
  display: block;
  width: .1rem;
  height: .04rem;
  border-radius: 2px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent transparent #6ff3e9 #6ff3e9;
  transform-origin: 50%;
  transform: rotate(-45deg);
} 

.form-container .form .form-checkbox-block .field-checkbox .checkbox-label {
  color: #9b9b9b;
  font-size: .18rem;
  vertical-align: top;
}

.form-container .form .form-validate-block {
  min-height: .3rem;
}

.form-container .form .form-validate-block .validate-text {
  font-size: .2rem;
  text-align: left;
}

.form-container .form .form-validate-block .validate-warning {
  color: red;
}

.form-container .tab {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.form-container .tab .tab-item{
  list-style: none;
  display: inline-block;
  width: 3.05rem;
  height: .8rem;
  line-height: .8rem;
  text-align: center;
  background: #0f305c;
  font-size: .24rem;
  color: #9b9b9b;
}

.form-container .tab .tab-item.active {
  background: #113367;
  color: #fff;
}

.form-container .tab .tab-item a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.form-container .button {
  display: inline-block;
  border: 0;
}

.form-container .button-block {
  display: block;
  width: 5rem;
  height: .6rem;
  border-radius: .1rem;
  font-size: .28rem;
}

.form-container .button-primary {
  background: #006dae;
  color: #fff;
}

