$pttype-height: 2.1rem;

.petition-types-container {
    .title {
      margin-bottom: 0.20rem;
      line-height: 0.24rem;
      color: $component-title;
      font-size: 0.24rem;
    }
  
    .content {
      position: relative;
      width: 100%;
      height: $pttype-height;
      background-color: $container-background-1;
    }

    .nodata-tip {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%);
    }

    #petition-types-chart {
      width: 100%;
      height: $pttype-height;
    }

    .petition-types-legend {
      position: absolute;
      right: 0.3rem;
      top: 50%;
      transform: translateY(-50%);
      width: calc(100% - 2.8rem);
      max-height: calc(2rem - 0.38rem);
      overflow-y: hidden;
      font-size: 0.14rem;
      padding-right: .05rem;

      &:hover{
        overflow-y: auto;
      }

      .lenged-list-container {
        width: 100%;
      }
    }
  }