$ptarea-content-height: 2.7rem;

.petition-area-container {
    .title {
      margin-bottom: 0.20rem;
      line-height: 0.24rem;
      color: $component-title;
      font-size: 0.24rem;
    }
  
    .content {
      position: relative;
      width: 100%;
      height: $ptarea-content-height;
      background-color: $container-background-1;
    }
  
    .nodata-tip {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%);
    }

    #petition-area-chart {
      width: 100%;
      height: $ptarea-content-height;
    }

    .petition-area-legend {
      position: absolute;
      right: 0.3rem;
      top: 50%;
      transform: translateY(-50%);
      width: calc(100% - 2.8rem);
      max-height: calc(2.6rem - 0.4rem);
      overflow-y: hidden;
      padding-right: 0.05rem;

      &:hover {
        overflow-y: auto;
      }
      
      .lenged-list-container {
        width: 100%;
      }
    }
  }