.ring-percent-chart-container,.ring-percent-chart {
	height: 100%;
	width: 100%;
}
.ring-percent-chart-container{
	position: relative;
	.ring-total-num{
		position: absolute;
    top: 50%;
    left: 22%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #00A3FF;
    p{
    	font-size: 0.3rem;
        margin-bottom: .05rem;
    }
	}
  .lenged-list-container{
    position: absolute;
    right: 0;
    top: 50%;
    transform:translateY(-50%);
  }
}