.news-wrap {
	padding: .3rem;

	.cpn-title {
			font-size: .24rem;
			height: .28rem;
			color: #00A3FF;
			letter-spacing: 1px;
			margin-bottom: .2rem;
		}
	.news-com{
		background: $container-background-3;
		padding: 0.28rem;
	}
	.news-top {
		overflow: hidden;
		.left {
			float: left;
			width: 67.4%;
			padding-right: .3rem;
			height: 4.24rem;
			overflow: hidden;
		}

		.right {
			float: left;
			width: 32.5%;
			height: 4.24rem;
			zoom: 1; 
		}

		.news-com {
			height: 3.71rem;
		}

		.right:after {
			content: ".";
			display: block;
			height: 0;
			visibility: hidden;
			clear: both;
		}
	}
	.news-bottom {
		margin-top: .3rem;
		.left {
			float: left;
			width: 48.6%;
			overflow: hidden;
		}

		.news-com {
			height: 3.74rem;
		}

		.mid {
			float: left;
			width: 27.3%;
			padding: 0 .3rem;
		}

		.right {
			float: left;
			width: 24.1%;
		}
	}

}