.header-container {
	height: $header-height;
	background: #02203B;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#C8103468,endColorstr=#C8103468); /*IE8支持*/
	color: white;
	min-width: 1200px;
	width: 100%;
	border-bottom: 0.01rem solid rgba(255,255,255,0.5);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;

	.project-name {
		width: 5.37rem;
		height: 0.8rem;
		float: left;
		margin-left: 0.3rem;
		line-height: .8rem;
		font-size: 0.16rem;
		display: flex;
		align-items: center;
		align-content: center;
		font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
		font-weight: bolder;
		letter-spacing: .03rem;
		font-size: 0.33rem;
			img {
				width: .26rem;
				transform: translate(-50%,-6%);
			}
	}

	.user {
		width: 9.27%;
		height: 0.8rem;
		float: right;
		overflow: hidden;
		justify-content: center;
		display: flex;
		justify-content: center;
		align-items: center;
		.login-pic {
			width: .4rem;
			height: auto;
			position: relative;
		}

		.login-name {
			font-size: 0.2rem;
			margin-left: 0.16rem;
			color: #AEC1D2;
		}
		.el-dropdown{
			position: absolute;
			right: .32rem;
         .el-dropdown-link{
			 .el-icon--right::before{
				 color: #fff;
				 font-size: 0.1rem;
			 }
		 }
			.el-dropdown-menu{
				background-color: rgba(2,32,59,1);
				border: 1px solid #02203B;
				li{
					color: #AEC1D2;
				}
				li:hover{
					background: #479AE4;
					color: #fff;
				}

			}

		}

	}

	.nav {
		height: 0.8rem;
		margin-left: 3.3rem;
		text-align: right;
		.nav-item {
			display: inline-block;
			font-size: 0.22rem;
			height: 0.8rem;
		}

		a {
			color: $colorNormal;
			text-decoration: none;
			height: 0.8rem;
			padding: 0.25rem;
			text-align: center;
			line-height: 0.8rem;
		}

		.active {
			font-size: 0.26rem;
			background-color: #13324F;
			border-bottom: 0.01rem solid $component-title;
			a {
				color: #7AB3E6;
			}
		}

		.nav-arrows {
			border-color: rgba(0,100,100,0) rgba(20,20,20,0) $component-title;
			border-style: solid;
			border-width: 0.08rem;
			height: 0;
			width: 0;
			margin: 0 auto;
			margin-top: -0.16rem;
		}
	}
}
.page {
	width: 100%;
	height: 100%;
}
.main-page {
	// height: calc(100% - 0.8rem);
	height: 100%;
	min-width: 1200px;
}
