.sliderbar {
    position: absolute;
    left: 0.3rem;
    top: 1rem;
    width: 5.5rem;
    height: 9rem;
    background: rgba(2,32,59,0.8);
    z-index: 1;
    transition: left 1s;
    .nav {
        height: 0.6rem;
        background: #02203B;
        position: relative;
        overflow: hidden;
        .nav-item:nth-child(1){
            width: 30%;
            box-sizing: border-box;
        }
        .nav-item:nth-child(2){
            width: 70%;
            box-sizing: border-box;
        }
        .nav-item {
            float: left;
            font-size: 0.22rem;
            height: 0.6rem;
            line-height: 0.6rem;
            margin: 0rem;
            cursor: pointer;
            color: #AEC1D2;
            position: relative;
            border-bottom: 0.01rem solid rgba(174,193,210,1);
            span{
                padding: 0 0.2rem;
            }
        }
        .active {
           font-weight: bold;
            border-bottom: 0.01rem solid $component-title;
            color: #7AB3E6;
            a {
                color: white;
            }
        }
        .nav-arrows {
            //border-color: $component-title;
            //border-style: solid;
            //border-width: .02rem;
            //border-radius: .2rem .2rem 0 0 ;
            //height: 0.05rem;
            //margin: 0 auto;
            //margin-top: -0.16rem;
            border: 1px solid $component-title;
            width: 10px;
            background: #02203B;
            border-radius: 10px 10px 10px 10px;
            height: 10px;
            bottom: -0.10rem;
            position: absolute;
            left: 0.50rem;
            z-index: 3;

        }
        .img_out {
            position: absolute;
            right: 0.2rem;
            top: 0;
            bottom: 0;
            height: 0.2rem;
            width: 0.2rem;
            margin: auto;
            cursor: pointer;
            z-index: 6;
        }
    }
    .carousel {
        height:8.4rem;
        overflow: hidden;
        .weather_date {
           padding: 0.2rem 0;
           margin-bottom: 0.4rem;
           height: 2.4rem;
           box-sizing: border-box;
        }
        .date_left, .date_right {        
            display: inline-block;
            text-align: center;
            // box-sizing: border-box;
            margin: 0 0.2rem;
            height: 100%;
        }
        .date_left {
            width: 1.8rem;
            float: left;
            padding-top: 0.4rem;
            p{
                font-size: .2rem;
            }
            p.dateCalender{
                color: #479AE4;
            }
            img {
                width: 0.9rem;
                height: 0.82rem;
                margin: 0.1rem 0 0.15rem;
            }
        }
        .date_right {
            float: right;
            background: #13324F;
            width: 2.4rem;
            height: 2.3rem;
            padding: 0.18rem 0;
        }
        .date_right p {
            height: 0.3rem;
            line-height: 0.3rem;
            padding-left: 0.2rem;
            text-align: left;
            color: #AEC1D2;
            margin-bottom: .02rem;
            span:nth-child(1){
                float: left;
                width: 60%;
            }
            span:nth-child(2){
                float: right;
                width: 40%;
            }
        }
        .el-icon-arrow-left, .el-icon-arrow-right {
            display: none;
        }
        
    }
}
.img_in_container {
    position: absolute;
    left: 0.3rem;
    top: 1rem;
    width: 0.5rem;
    height: 0.5rem;
    background: #103468;
    transition: opacity 0.1s;
    cursor: pointer;
}
.img_in {
    position: absolute;
    left: 0rem;
    top: 0rem;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 0.2rem;
    height: 0.2rem;
    background: rgba(16, 52, 104, 0.8);
    cursor: pointer;
}

// echarts
.petition-handling-container {
    margin-bottom: 0.2rem;
    color: #AEC1D2;
    .title {
        margin-bottom: 0.20rem;
        line-height: 0.24rem;
        color: $component-title;
        font-size: 0.24rem;
    }

    .content {
        position: relative;
        width: 100%;
        height: 2rem;
    }

    .nodata-tip {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%);
    }
    #echarts-wrap {
        width: 1.8rem;
        height: 1.5rem;
        position: relative;
        display: inline-block;
    }
    #petition-handling-chart {
        width: 1.5rem;
        height: 1.5rem;
    }

    .percentage {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        color: #00a3ff;
        text-align: center;
        line-height: 1.5rem;
        // font-size: 0.36rem;
    }

    p {
        font-size: 0.18rem;
        text-align: center;
    }
}

// weather_data
.weather_data {
    margin-left: 0.18rem;
    .date_item:nth-last-child(1) p:nth-child(2){
        color: #36DB7D
    }
    .date_item {
        display: inline-block;
        border: 1px solid #7AB3E6;
        margin: 0 0.05rem 0.05rem 0;
        p {
            width: 0.7rem;
            height: 0.4rem;
            line-height: 0.4rem;
            text-align: center;
            box-sizing: border-box;

        }
        p:nth-child(1){
            color: #fff;
            background: #7AB3E6;

        }
        p:nth-child(2){
            color: #7AB3E6;
        }
    }
}
// city_point
.tabcontainer{
    margin: 0 0.2rem;
    background: #0E3958;
    .city_point {
        display: inline-block;
        li {
            display: inline-block;
            // height: 0.6rem;
            // line-height: 0.6rem;
            text-align: center;
            // width: 1rem;
            padding: 0.2rem 0.1rem;
            width: 1.15rem;
        }
        li:nth-child(4){
            border-right: 1px solid #02203B;
        }
    }
    .cityPoint_more{
        display: inline-block;
        .el-icon-more{
            transform: rotate(90deg);
        }
    }
}

.scroll {
    height: 4rem;
    overflow-y: auto;
    &::-webkit-scrollbar {
        display:none;
    }
}

.title {
    margin: 0 0.2rem;
    display: flex;
    li{
        display: inline-block;
        text-align: center;
        margin-right: 0.02rem;
        padding: 0.2rem 0;
        width: 20%;
        box-sizing: border-box;
        white-space: nowrap;
        text-overflow: ellipsis;

    }
    &:nth-child(2n) {
        background: #0E3958;
    }
    &:nth-child(2n + 1) {
        //background: #032848;
    }
}
.title-color {
     background: #479AE4;
}

// 修改elementt-react内部样式
.el-carousel__indicator .el-carousel__button {
    width: 0.1rem;
    height: 0.1rem;
    border-radius: 50%;
}
.el-carousel .el-carousel__container {
    height: 100%;
}
.el-carousel .el-carousel__indicator {
    bottom: 0.4rem;
}