$petition-company-content-height: 5.15rem;
$petition-company-header-height: 1rem;

.petition-company-container {
  margin-top: 0.3rem;

  .header {
    margin-bottom: 0.20rem;
  }

  .title {
    color: $component-title;
    line-height: 0.24rem;
    font-size: 0.24rem;
  }

  .list-container {
    width: 100%;
    height: $petition-company-content-height;
    background-color: $container-background-1;
    position: relative;
    overflow-x: auto;

    .el-table::after, .el-table::before {
      background-color: $container-background-1;
    }

    .el-table {
      width: 100%;
      height: $petition-company-content-height;
      color: white;
      cursor: default;
      background-color: $container-background-1;
      border: 0;
      min-width: 270px;

      .el-table__header {
        color: #ccc;
        font-size: 0.18rem;
        right: 0;
        padding: 0.4rem 0.2rem;
        box-sizing: border-box;
        text-align: left;
        height: $petition-company-header-height;

        span {
          display: inline-block;
          margin-right: 0.2rem;
          text-align: left;
        }

        .comp {
          width: 35%;
          margin-right: 0.2rem;
        }

        .done {
          margin-right: 0;
          float: right;
        }
      }

      .el-table-content {
        overflow-y: hidden;
        height: calc(#{$petition-company-content-height} - #{$petition-company-header-height} - 0.1rem);
        padding-right: 0.05rem;

        &:hover {
          overflow-y: auto;
        }

        .nodata-container {
          text-align: center;
          line-height: calc(#{$petition-company-content-height} - #{$petition-company-header-height} - 0.1rem);
        }
      }

      .el-table__row {
        font-size: 0.18rem;
        padding: 0 0.2rem;
        box-sizing: border-box;
        margin-bottom: 0.24rem;

        .comp {
          display: inline-block;
          width: 35%;
          margin-right: 0.2rem;
          @include ellipsis;
        }

        .bar {
          display: inline-block;
          width: 1.8rem;
          text-align: left;
          font-size: 0.16rem;
          color: $component-title;

          span{
            display: inline-block;
            height: 0.15rem;
            margin-right: 0.05rem;
            background-color: #2EA6FE;
            float: left;
          }
        }

        .done {
          float: right;
        }
      }
    }
  }
}